@import "../../../styles/color";

.successstories {
  padding: 70px 0px;
  text-align: center;
  .successstory {
    background-color: $darkGrey;
    padding: 10px 40px;
    box-sizing: border-box;
    margin: 50px auto;
    width: 90%;
    .image {
      width: 70px;
      height: 70px;
      position: absolute;
      border-radius: 2px;
      background: $grey;
      top: 25px;
      left: 0px;
    }
    h6 {
      color: $gold;
      text-align: left;
    }
    p {
      text-align: left;
      color: $white;
      font-size: 13px;
    }
  }
}
