@import "../../../styles/color";

.whatwedo {
  padding: 70px 0px;
  background-color: #e6eaf4;
  text-align: center;
  p {
    text-align: left;
  }
  h1 {
    span {
      padding-bottom: 2px;
      border-bottom: 5px solid $gold;
    }
  }
  .num {
    width: 150px;
    height: 150px;
    margin: 30px auto;
    background-color: $red;
    font-size: 6em;
    font-weight: 700;
    color: $white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .blue {
    background-color: $blue;
  }
  .gold {
    background-color: $gold;
  }
}
