@import "../../../styles/color";

.whatwedo {
  padding: 70px 0px;
  background-color: #e6eaf4;
  text-align: center;
  p {
    text-align: left;
  }
  img {
    transition: 0.5s;

    &:hover {
      filter: grayscale(50%);
    }
  }
}
