.option_wrapper {
  //   max-width: 350px;
  margin: auto;
  height: 300px;
  position: relative;
  overflow: hidden;
  &:hover {
    .top_text {
      top: 0;
      height: 400px;
    }
    .label {
      // top: 400px;
      opacity: 0;
    }
  }
  img {
    width: 100%;
    height: 300px;
    z-index: -1;
    filter: grayscale(100%);
  }
  .top_text {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 230px;
    z-index: 999;
    width: 100%;
    height: 100px;
    background-color: #01384bda;
    transition: top 0.5s cubic-bezier(0.17, 0.67, 0.72, 0.23);
    padding: 0 20px;
    text-decoration: none;
    p {
      color: #fff;
      font-size: 16px;
      text-transform: uppercase;
      font-family: "Nexa Heavy";
    }
  }
  .label {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 320px;
    z-index: 999;
    width: 100%;
    height: 100px;
    background-color: #01384b;
    transition: opacity 0.5s linear;
    opacity: 1;
    text-decoration: none;
    p {
      color: #fff;
      font-size: 16px;
      text-transform: uppercase;
      font-family: "Nexa Heavy";
    }
  }
}

.row {
  margin-top: 50px;
}
