/* Position and sizing of burger button */
.bm-burger-button {
  position: relative;
  width: 30px;
  height: 25px;
  border: 1px solid transparent;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #e4e6f1;
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
  background: #ffffff;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

/*
    Sidebar wrapper styles
    Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
    */
.bm-menu-wrap {
  position: fixed;
  height: 100vh !important;
  top: 0;
  width: 250px !important;
}
.menu-item {
  display: block;
  position: relative;
  color: #fff;
  margin-bottom: 10px;
}
.menu-item::before {
  content: "";
  position: absolute;
  display: block;
  width: 5px;
  height: 70%;
  left: -15px;
  top: 5px;
  border-radius: 5px;
  background-color: #fff;
}
.menu-item:hover {
  display: block;
  color: #0689c0;
  &::before {
    content: "";
    background-color: #0689c0;
  }
}

/* General sidebar styles */
.bm-menu {
  background: #002531;
  padding: 2.5em 1em 0;
  font-size: 1.15em;
  border-left: 5px solid #00141b;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
  padding: 0.8em;
}

/* Individual item */
.bm-item {
  display: inline-block;
  outline: none;
  border-bottom: 1px solid white;
}
.bm-item a.nav-link {
  color: #fff !important;
  font-size: 14px;
  text-transform: uppercase !important;
  transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.bm-item:hover a.nav-link {
  color: yellow !important;
  padding-left: 20px;
}
.login a.nav-link {
  color: rgb(246, 250, 19) !important;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}
