.addOverlay {
  position: relative;
  padding: 0;
  height: 400px;
  // background-image: url("/static/images/country.jpg");
  background-position: center;
  background-size: cover;
  // filter: "grayscale(100%)",
  &::before {
    content: "";
    // z-index: 999;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.829);
  }
  .jumboText {
    position: relative;
    margin-top: 6rem;
  }
}
.country_wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  //   padding: 0 2rem;
  //   margin: auto;
  .country_flag {
    display: flex;
    justify-content: center;
    text-decoration: none;
    align-items: center;
    width: 150px;
    height: 150px;
    color: #fff;
    text-transform: uppercase;
    margin-right: 2rem;
    border: 2px solid #01384b;
    background-color: #01384bd5;
    margin-bottom: 2rem;
  }
}

.country_flag_wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  //   padding: 0 2rem;
  //   margin: auto;
  .country_flag {
    display: flex;
    justify-content: center;
    text-decoration: none;
    align-items: center;
    width: 150px;
    height: 150px;
    color: #fff;
    text-transform: uppercase;
    margin-right: 2rem;
    // border: 2px solid #01384b;
    // background-color: #01384bd5;
    margin-bottom: 2rem;
  }
}
