div.footer {
  padding: 4rem;
  // background-color: #01384b;
  color: #c9c9c9;
  font-size: 12px;
  position: relative;
  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-image: url(/static/images/chislonfooterbg.jpg);
    // background-repeat: no-repeat;
    // background-position: center center;
    background-size: 40% 100%;
  }
  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgba(0, 24, 32, 0.952);
    // background-color: rgba(1, 56, 75, 0.945);
  }
  .heading {
    color: #d9a900;
    font-size: 2rem;
    line-height: 1.2;
    font-style: italic;
    margin-bottom: 4rem;
  }
  .become {
    margin-bottom: 3rem;
    text-decoration: none;
    color: #fff;
    display: block;
    &:hover {
      color: #d4c489;
    }
    h6 {
      font-size: 14px;
    }
  }
  h6 {
    font-size: 12px;
    padding: 0;
    margin-bottom: 15px;
    text-transform: uppercase;
  }

  .footer_links {
    margin-top: 40px;
    ul {
      list-style: none;
      padding: 0;
      margin: 0;
      li {
        margin-bottom: 10px;
        a {
          color: #c9c9c9;
          text-decoration: none;
          &:hover {
            color: #d9a900;
          }
        }
      }
    }
  }

  .social_links {
    margin-top: 50px;
    ul {
      li {
        display: inline-block;
        position: relative;
        height: 33px;
        width: 33px;
        margin-right: 10px;
        overflow: hidden;
        div {
          position: relative;
          width: 100%;
          height: 200%;
          top: 0;
          transition: all 0.5s linear;
          &:hover {
            top: -33px;
          }
        }
        a {
          display: block;
          width: 30px;
          height: 30px;
          line-height: 30px;
          margin-bottom: 3px;
          text-align: center;
          border-radius: 50%;
          background-color: rgb(119, 119, 119);
          color: #fff;
          font-size: 12px;
          &.low_opacity {
            opacity: 0.5;
          }
          &:hover {
            color: #fff;
          }
        }
      }
    }
  }
}

.copyrightBar {
  // background-color: #012f3f;
  background-color: rgb(0, 24, 32);
  color: #fff;
  padding: 2rem 4rem;
  display: flex;
  justify-content: space-between;
  @media screen and (max-width: 768px) {
    display: block;
  }
  span {
    color: #d9a900;
  }
  .copyright-links {
    list-style-type: none;
    .copyright-link {
      color: #fff;
      padding: 0px;
      padding-right: 10px;
    }
  }
}
