div.footer {
  padding: 1rem;
  h5 {
    color: #d9a900;
    padding: 0;
    margin: 0;
  }
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

nav.footerNav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

ul.footerMenu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  li {
    a,
    a:hover {
      padding: 1.5rem;
      text-decoration: none;
    }
  }
}
ul.footerSocials {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  img {
    width: 25px;
    height: 25px;
    margin: auto 10px;
  }
}

div.copyright {
  background-color: #003e52;
  color: #fff;
  padding: 1rem;
  display: flex;
  span {
    color: #d9a900;
  }
  ul {
    display: inline-flex;
    li {
      a {
        border-left: 1px solid #d9a900;
        padding-left: 1rem;
        margin-left: 1rem;
        color: #fff;
        text-decoration: none;
      }
    }
  }
}

.cow {
  display: flex;
  .copyright-links {
    list-style-type: none;
    .copyright-link {
      color: #fff;
      padding: 0px;
      padding: 0px 10px;
    }
  }
}
