@import "../../styles/color.scss";

.getStarted {
  background-color: $blue;
  color: $white;
  padding: 20px;
  transition: 0.5s;
  margin-bottom: 40px;

  &:hover {
    background-color: #0069d2;
  }
  h1 {
    text-align: center;
  }
}
